@keyframes suitcase-out {
  0% {
    transform: translate(0, 100%) scale(0.01);
  }
  100% {
    transform: translate(0, -5%) scale(0.4) ;
  }
}

@keyframes flamingo-out {
  0% {
    transform: scale(0.25) translate(-20%, 120%) rotate(-35deg);
  }
  100% {
    transform: scale(0.25) translate(-30%, 0) rotate(0);
    opacity: 1;
  }
}

@keyframes flamingo-shake {
  0% {
    transform: scale(0.25) translate(-30%, 0) rotate(0);
  }
  100% {
    transform: scale(0.25) rotate(-15deg) translate(-30%, 10%);
  }
}

@keyframes leaf-blue-1-out {
  0% {
    transform: scale(0.25) translate(60%, -80%) rotate(-15deg);
  }
  10% {
    opacity: 1;
    transform: scale(0.25) translate(60%, -20%) rotate(20deg);
  }
  20% {
    opacity: 1;
    transform: scale(0.25) translate(60%, -25%) rotate(-5deg);
  }
  50% {
    opacity: 1;
    transform: scale(0.25) translate(60%, -20%) rotate(15deg);
  }
  80% {
    opacity: 1;
    transform: scale(0.25) translate(60%, -25%) rotate(10deg);
  }
  90% {
    opacity: 1;
    transform: scale(0.25) translate(60%, -25%) rotate(10deg);
  }
  95% {
    opacity: 1;
    transform: scale(0.25) translate(60%, -25%) rotate(10deg);
  }
  100% {
    opacity: 1;
    transform: scale(0.25) translate(60%, -25%) rotate(5deg);
  }
}

@keyframes leaf-blue-2-out {
  0% {
    transform: scale(0.25) translate(-65%, -40%) rotate(30deg);
  }
  10% {
    opacity: 1;
    transform: scale(0.25) translate(-65%, 10%) rotate(-15deg);
  }
  20% {
    opacity: 1;
    transform: scale(0.25) translate(-65%, -10%) rotate(20deg);
  }
  50% {
    opacity: 1;
    transform: scale(0.25) translate(-65%, -5%) rotate(0);
  }
  80% {
    opacity: 1;
    transform: scale(0.25) translate(-65%, -5%) rotate(10deg);
  }
  90% {
    opacity: 1;
    transform: scale(0.25) translate(-65%, -5%) rotate(10deg);
  }
  95% {
    opacity: 1;
    transform: scale(0.25) translate(-65%, -5%) rotate(10deg);
  }
  100% {
    transform: scale(0.25) translate(-65%, -5%) rotate(5deg);
    opacity: 1;
  }
}

@keyframes leaf-green-out {
  0% {
    transform: scale(0.25) translate(60%, -30%) rotate(-25deg);
  }
  10% {
    opacity: 1;
    transform: scale(0.25) translate(60%, 20%) rotate(30deg);
  }
  20% {
    opacity: 1;
    transform: scale(0.25) translate(60%, 10%) rotate(10deg);
  }
  50% {
    opacity: 1;
    transform: scale(0.25) translate(60%, 15%) rotate(20deg);
  }
  80% {
    opacity: 1;
    transform: scale(0.25) translate(60%, 15%) rotate(10deg);
  }
  90% {
    opacity: 1;
    transform: scale(0.25) translate(60%, 15%) rotate(15deg);
  }
  95% {
    opacity: 1;
    transform: scale(0.25) translate(60%, 15%) rotate(10deg);
  }
  100% {
    transform: scale(0.25) translate(60%, 15%) rotate(15deg);
    opacity: 1;
  }
}

.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}

img.result__prize-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  object-fit: contain;
  transition: all 1s;

  &--flamingo {
    z-index: 1;
    animation: flamingo-out 0.5s forwards, flamingo-shake 3s infinite alternate;
    animation-timing-function: ease-out, ease-in-out;
    animation-delay: 0s, 0.5s;
  }

  &--suitcase {
    opacity: 1;
    animation: suitcase-out 0.5s forwards;
    animation-timing-function: ease-out;
  }

  &--leaf-blue-1 {
    animation: leaf-blue-1-out 5s forwards;
    animation-timing-function: ease-out;
    animation-delay: 0.47s;
  }

  &--leaf-blue-2 {
    animation: leaf-blue-2-out 5s forwards;
    animation-timing-function: ease-out;
    animation-delay: 0.47s;
  }

  &--leaf-green {
    animation: leaf-green-out 5s forwards;
    animation-timing-function: ease-out;
    animation-delay: 0.47s;
  }
}
